.container-badges{
    display: flex;
    justify-content: center;
    z-index: 100;
    padding-top: 2em;
}
.extra-title{
    color:aqua;
    font-size: 1em;
    text-align: center;
    text-transform: uppercase;
    margin-top: 1em;
}
.stats{
    color:white;
    font-size: 1.2em;
    
}