@import "./animations.css";
@import "./scrollBar.css";

*
{
    margin: 0;
    padding: 0;
}

body{
    background-image: url(../../imgs/bg2.jpg);
    background-repeat: no-repeat;
    
}
html{
    background-color: rgb(0, 0, 0)  ;
}
.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
    
}


.section
{
    display: flex;
    align-items: center;
    height: 100vh;
    position: relative;
    font-family: 'Montserrat', sans-serif;
    color: #838181;
    text-transform: uppercase;
    font-size: 7vmin;
    padding-left: 10%;
    padding-right: 10%;
    
}

section:nth-child(odd)
{
    justify-content: flex-end;

}
h1, h2{
    color: rgb(255, 255, 255);
    animation-name: intro;
    animation-duration: 3s;
    /* border-bottom: 2px solid rgb(0, 255, 225); */
}
h1:after, h2:after{
    content: "";
    display: block;
    width: 50%;
    padding-top: 20px;
    border-bottom: 2px solid rgb(0, 255, 242);
}
.title-top{
    font-family: 'Odibee Sans', cursive;
}
.designer{
    font-family: 'Raleway', sans-serif;
}
.designer1{
    color: aqua;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #00e6b0, 0 0 40px #00e6c7, 0 0 50px #00c4e6, 0 0 60px #009de6, 0 0 70px #0289a1;

    font-family: 'Raleway', sans-serif;
}
.container{
    border: 1px solid aqua;
    background-image: url("../../imgs/galaxy.webp");
    background-size: calc(100%)+100%;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
    position: absolute;
    bottom: -25%;
    left: 35%;
    width: 60vw;
    height: 60vh;
    overflow: auto;
    /* background-color: #ff006a38; */
    backdrop-filter: blur(5px);
    color: #fff201;
    z-index: 100;
}
.projectImgs{
    border-radius: 30px;
    border: 3px solid aqua;
    display: flex;
    justify-content: center;
    width: 28rem;
    height: 15rem;
    margin: 2rem;
}
.projectImgs:hover{
    transform: scale(1.1);
    border: 3px solid rgba(17, 240, 207, 0.874);
    box-shadow: .5rem 0.5rem 0.5rem  rgba(134, 142, 139, 0.84);
    transition: 1.5s;
}
.projectTitle{
    text-align: center;
    margin: 1rem;
}
.projectDesc{
    font-size: 1rem;
    margin: 1em;
    
    color: rgb(255, 234, 0);
    font-weight: 1000;
}
.projectDesc:after{
    content: "";
    display: block;
    width: 50%;
    padding-top: 20px;
    border-bottom: 1px solid rgb(255, 234, 0);
}
#email{
    color: aqua;
}
.bottom{
    width: fit-content;
    display: flex;
    z-index: 0;
}
.contacts{
    position: absolute;
    left: 1em;
    bottom: -3em;
    margin-bottom: 10rem;
    display: flex;
    justify-content: center;
    /* width: fit-content; */
}
.fa{
    color: aqua;
    font-size: 1em;
    margin: 2em;
}
.fa-github{
    font-size: 1em;
}
.container-badges{
    /* transform: translateY(-300px);
    z-index: 100;
    position: relative; */
}
.container-badges{
    display: flex;
    justify-content: center;
    z-index: 100;
    padding-top: 2em;
}
.extra-title{
    color:aqua;
    font-size: 1em;
    text-align: center;
    text-transform: uppercase;
    margin-top: 1em;
}
.stats{
    color:white;
    font-size: 1.2em;
    
}