@import "./animations.css";
*
{
    margin: 0;
    padding: 0;
}

html{
    background-color: rgb(0, 0, 0)  ;
}
.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}


.section
{
    display: flex;
    align-items: center;
    height: 100vh;
    position: relative;
    font-family: 'Montserrat', sans-serif;
    color: #838181;
    text-transform: uppercase;
    font-size: 7vmin;
    padding-left: 10%;
    padding-right: 10%;
    
}

section:nth-child(odd)
{
    justify-content: flex-end;

}
h1, h2{
    color: rgb(255, 255, 255);
    animation-name: intro;
    animation-duration: 3s;
    /* border-bottom: 2px solid rgb(0, 255, 225); */
}
h1:after, h2:after{
    content: "";
    display: block;
    width: 50%;
    padding-top: 20px;
    border-bottom: 2px solid rgb(0, 255, 242);
}
.title-top{
    font-family: 'Odibee Sans', cursive;
}
.designer{
    font-family: 'Raleway', sans-serif;
}
.designer1{
    color: aqua;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #00e6b0, 0 0 40px #00e6c7, 0 0 50px #00c4e6, 0 0 60px #009de6, 0 0 70px #0289a1;

    font-family: 'Raleway', sans-serif;
}
.container{
    border: 1px solid rgb(0, 157, 255);
    border-radius: 10px;
    position: absolute;
    bottom: -25%;
    left: 35%;
    width: 60vw;
    height: 60vh;
    overflow: auto;
    background-color: #007bff16;
    backdrop-filter: blur(5px);
}
